<%- include('includes/header') %>
<div class="container-fluid h-100 d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column h-50 w-50 bg-dark justify-content-center align-items-center">
        <div><%= list.title %></div>
        <% for(var i=0; i<list.todo.length;i++) { %>
        <div class="text-white"><%= list.todo[i].label %> </div>
        <% } %>
    </div>
</div>
<%- include('includes/footer') %>